<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crear.gledmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Guitarra Led Mobile</name>
    <description>
        Plataforma mobile para controlar Guitarra Led
    </description>
    <author email="crear@elarceylatecnologia.com.ar" href="http://www.elarteylatecnologia.com.ar">
        Crear Arte y Tecnología
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
