<div class="modal slide-in-up">
  <ion-header-bar class="bar-secondary">
    <button class="button button-clear button-positive" ng-click="closeAddGuitar()">{{ 'CANCEL' | translate }}</button>
    <h1 class="title">{{ 'ADD_GUITAR' | translate }}</h1>
    <button class="button button-positive" ng-click="createGuitar()">{{ 'DONE' | translate }}</button>
  </ion-header-bar>
  <ion-content class="">
    <input type="text" placeholder="{{ 'PLACEHOLDER_ADD_GUITAR' | translate }}" ng-model="guitar.alias">
  </ion-content>
</div>
