<ion-content class="has-header padding" has-tabs="true" scroll="false">
  <h1>{{ 'SONG' | translate }}</h1>

  <ul class="list" ng-show="true">
    <button ng-click="player.player.play()">PLAY</button>
    <button ng-click="player.player.pause()">Pause</button>
    <button ng-click="player.player.stop()">Stop</button>
    <li class="item"> Tempo: {{ song.tempo }} <input type="range" ng-model="song.tempo" min=40 max=320 step=1> </li>
    <li class="item"> Marker: {{ player.marker.x }} {{ player.marker.y }}  </li>
  </ul>

  <ion-scroll delegate-handle="player-scroll" zooming="true" direction="xy" style="height: 100%">
  <div vexplayer
    song="song.vexTabCode"
    player="player"
    tempo="song.tempo"
    show_errors="true"
    preload_soundfonts="true"
    on_note_on="onNoteOn"
    on_update_marker="onUpdateMarker"
  >
  </div>
  <div>
    {{song.vexTabCode}}
  </div>
  </ion-scroll>
</ion-content>
