<ion-content class="has-header padding" has-tabs="true">
  <h1>{{ 'SCALES' | translate }}</h1>
  
  <div class="row">
    <label class="col item item-input item-select">
       <div class="input-label">
         {{ 'TONIC' | translate }}
       </div>
       <select ng-model="model.selectedTonic" ng-options="tonic for tonic in tonics" ng-change="onTonicChange(model.selectedTonic)">
       </select>
    </label>

  <label class="col item item-input item-select">
       <div class="input-label">
         {{ 'SCALE' | translate }}
       </div>
       <select ng-model="model.selectedScale" ng-options="scale.name for scale in scales[model.selectedTonic]">
       </select>
    </label>

  </div>
</ion-content>
