<ion-content has-header="true" padding="true" style="background: #1b5a83">
  <div class="list list-inset"  style="background: #1b5a83">
    <div class="item item-image" style="border:none;margin-top:50px;">
    </div>

    <button class="button button-balanced" ng-click="connect()">Connect</button>
    <button class="button button-assertive" ng-click="disconnect()">Disconnect</button>
    <button class="button button-assertive" ng-click="isConnected()">isConnected</button>
    <button class="button button-assertive" ng-click="repeat(500)">sendData</button>

    <div class="list">Lista
      <div class="item item-button-right" ng-repeat="device in devices">
        {{device.name}} {{ device.id }}
      </div>
    </div>

  </div>
</ion-content>
