<ion-tabs class="tabs-icon-top" ng-controller="GLedCtrl">
  <ion-tab title="{{ 'NAV_TITLE_1' | translate }}" icon-on="ion-android-storage"
    icon-off="ion-andriod-storage-outline" href="#/gledmobile/guitarlist">
    <ion-nav-view name="gledmobile-guitarlist"></ion-nav-view>
  </ion-tab>
  <ion-tab title="{{ 'NAV_TITLE_2' | translate }}" icon-on="ion-android-information"
    icon-off="ion-android-information-outline" href="#/gledmobile/about">
    <ion-nav-view name="gledmobile-about"></ion-nav-view>
  </ion-tab>
  <button class="button button-royal" ng-click="changeLanguage('es')" translate="BUTTON_LANG_ES"></button>
  <button class="button button-royal" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
</ion-tabs>
