<ion-content class="has-header padding" has-tabs="true">
	<div ng-controller="SongsCtrl" class="list card">
        <h1>{{ 'SONGS' | translate }}</h1>
        {{ 'SEARCH' | translate }}: <input ng-model="search">
        <ul>
            <li ng-repeat="song in songs | filter:search">
                <a href="#" class="item item-icon-left">
                  <i class="icon ion-ios7-play"></i>
                  {{song.name}} - {{song.author}}
                </a>
            </li>
        </ul>
    </div>
</ion-content>
