<ion-content class="has-header padding" has-tabs="true">
<div ng-show="Bluetooth.enabled">
<div class="list">
  <div class="item item-button-right" ng-repeat="guitar in guitars" ng-click="connectToGuitar(guitar)">
    {{guitar.alias}}
    <button class="button button-positive" ng-click="removeGuitar(guitar)">
      <i class="icon ion-trash-b"></i>
    </button>
  </div>
</div>

  <div class="card" ng-show="noGuitars()">
    <div class="item item-divider">
        {{ 'NO_GUITARS' | translate }}
    </div>
    <div class="item item-text-wrap">
        <button class="button button-positive button-full" ng-click="showAddGuitarModal()"> {{ 'ADD_GUITAR' | translate }} </button>
    </div>
   </div>
   <a class="button icon ion-chevron-right" ui-sref="gledmobile.modes">{{ 'NEXT' | translate }}</a>
</div>

<div ng-hide="Bluetooth.enabled" class="item-divider assertive">
        {{ 'BLUETOOTH_DISABLED' | translate }}
</div>

</ion-content>
