<ion-content class="has-header padding" has-tabs="true">
  <h1>{{ 'CHORDS' | translate }}</h1>

  <div class="row">
    <label class="col item item-input item-select">
       <div class="input-label">
         {{ 'ROOT' | translate }}
       </div>
       <select ng-model="selectedRoot" ng-options="root for root in roots" ng-change="onRootChange(selectedRoot)">
       </select>
    </label>

  <label class="col item item-input item-select">
       <div class="input-label">
         {{ 'CHORD' | translate }}
       </div>
       <select ng-model="selectedChord" ng-options="chord for chord in chords[selectedRoot]">
       </select>
    </label>
  </div>

  <div class="jtab" j-tab chord="selectedChord"></div>
</ion-content>

