<ion-content class="has-header padding" has-tabs="true">
  <h1>{{ 'SONGS' | translate }}</h1>
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input ng-model="search" placeholder="{{ 'SEARCH' | translate }}">
  </label>

  <div class="list card">
    <ul>
      <li ng-repeat="song in songs | filter:search">
        <a ui-sref="gledmobile.song" class="item item-icon-left">
          <i class="icon ion-ios7-play"></i>
          {{song}}
        </a>
      </li>
    </ul>
  </div>
</ion-content>
