<ion-content has-header="true" padding="true">
  <div class="list card">
  <a href="#/gledmobile/songlist" class="item item-icon-left">
    <i class="icon ion-ios7-play"></i>
    {{ 'SONGS' | translate }}
  </a>
  <a href="#/gledmobile/scales" class="item item-icon-left">
    <i class="icon ion-ios7-play"></i>
    {{ 'SCALES' | translate }}
  </a>
  <a href="#/gledmobile/chords" class="item item-icon-left">
    <i class="icon ion-ios7-play"></i>
    {{ 'CHORDS' | translate }}
  </a>
  </div>
</ion-content>
