<ion-header-bar class="bar-positive">
  <button class="button button-clear" ng-click="newTask()">{{ 'NEW' | translate }}</button>
  <h1 class="title">{{ 'APP_TITLE' | translate }}</h1>
  <button class="button button-clear" ng-click="#/todo/about">{{ 'ABOUT' | translate }}</button>
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true">

<div class="list">
  <div class="item item-button-right" ng-repeat="task in tasks">
    {{task.title}}
    <button class="button button-positive" ng-click="removeTask($index)">
      <i class="icon ion-trash-b"></i>
    </button>
  </div>
</div>

  <div class="card" >
    <div class="item item-text-wrap" ng-show="!tasks.length">
      <span>
        {{ 'NO_ITEMS' | translate }}  <a href="javascript:" ng-click="newTask()">{{ 'HERE' | translate }}</a>
      </span>
    </div>
   </div>
</ion-content>
